
body{
    height: 100%;
    width: 100%;
    
}


.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(250, 228, 228);
    border-radius: 50%;
    cursor: pointer;
    color: blueviolet;
    box-shadow: 1px 1px 1px 1px black;
    font-size: 20px;
}


.row {
    margin: 8px 0;
}

.row input {
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    width: 291px;
    border: 2px solid rgb(212, 209, 209);
    box-shadow: 1px 1px 1px 1px black;
    height: 50px;
    background-color: rgb(251, 246, 246);
}